.label{
    min-width: 150px;
}

.field {
    padding: 0.375rem 0.75rem;
    min-width: 250px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .item{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }


  /* Temel Select Stili */
.formselect {
    display: block;
    min-width: 250px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* Seçeneklerin Zemin Rengi (Hover Etkisi) */
  .formselect:hover {
    border-color: #6c757d;
  }
  
  /* Açılır Menü Stili */
  .formselect:focus {
    border-color: #6c757d;
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.25);
  }
  
  /* Açılır Menüdeki Seçeneklerin Stili */
  .formselect option {
    padding: 0.5rem;
  }
  
  /* Zorunlu Alan (*) İkonu */
  .formselect:required:invalid {
    border-color: #dc3545;
  }
  
  /* Zorunlu Alan (*) İkonu (Açılır Menüdeki Seçenekler) */
  .formselect:required:invalid option {
    color: #dc3545;
  }
  
  /* Zorunlu Alan (*) İkonu (Açılır Menüdeki Seçenekler) - WebKit Tarayıcıları */
  .formselect:-moz-ui-invalid {
    color: #dc3545;
    border-color: #dc3545;
  }
  
  /* Zorunlu Alan (*) İkonu (Açılır Menüdeki Seçenekler) - WebKit Tarayıcıları */
  .formselect:-moz-ui-invalid option {
    color: #dc3545;
  }